.errorText {
  margin-top: 1rem;
  color: var(--error);
}

.headerText {
  margin: 1.4rem 0;
  font-weight: bold;
}

.input {
  width: 100%;
  padding: 18px 15px;
  border: 1px solid var(--gray3-color);
  border-radius: 8px;
  animation: border 1s linear infinite alternate;
  outline: none;
}

.errorInput {
  border-color: var(--error) !important;
}

@keyframes border {
  0% {
    border-color: var(--purple-300);
  }

  25% {
    border-color: var(--purple-500);
  }

  50% {
    border-color: var(--purple-600);
  }

  100% {
    border-color: var(--purple-900);
  }
}

.container {
  width: 400px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 200px auto;
}
