.errorText {
  color: var(--error);
  margin: 0;
}

.headerText {
  margin: 1.4rem 0;
  font-weight: bold;
}

.input {
  width: 100%;
  padding: 18px 15px;
  border: 1px solid var(--gray3-color);
  border-radius: 8px;
  outline: none;
}

.input:focus {
  border-color: var(--primary-color);
}

.errorInput {
  border-color: var(--error);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.eye {
  position: absolute;
  right: 15px;
  top: 58%;
  cursor: pointer;
}
