.container {
  width: 100%;
  display: flex;
  padding: 12px 24px;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--gray3-color);
  background-color: var(--gray4-color);
}

.iconContainer {
  display: flex;
  gap: 16px;
}
